.spacer {
  flex: 1 1 auto;
}

mat-form-field {
  width: 100%;
  margin: auto;
}
.main-body {
  max-width: 80%;
  margin: 20px auto;
}

.action-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.custom-btn {
  padding: 20px 0;
}

.container-loading {
  position: relative;
  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
